/* Layout CSS */

.text-danger {
    font-size: 0.69rem; 
}
.bg-image {
    background-image: url('/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.font-swift {
    font-family: 'Swifted DEMO';
}

/* Register CSS */
.bg-image-register {
    background-image: url('/images/backgroundregister.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.register-card {
    width: 100%;
    max-width: 900px;
}

.register-button {
    background-color: #5F778C;
    color: white;
    border: none;
}

/* Login CSS */
.bg-image-login {
    background-image: url('/images/backgroundlogin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Login view specific styles */

.login-card {
    width: 100%;
    max-width: 400px;
}

.login-button {
    background-color: #5F778C;
    color: white;
    border: none;
}


/* FOOTER */
.footer {
    background: linear-gradient(to right, #f8f9fa, #ffffff);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
}

.footer-logo {
    transition: transform 0.3s ease;
}

    .footer-logo:hover {
        transform: translateY(-3px);
    }

.footer-contact {
    color: #6c757d;
}

    .footer-contact a {
        color: #007bff;
        transition: color 0.3s ease;
    }

        .footer-contact a:hover {
            color: #0056b3;
        }

.footer p {
    font-size: 0.9rem;
}





