<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CommunityPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/enhanced-ui.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100 bg-image font-swifted">
    <main class="d-flex align-items-center justify-content-center flex-grow-1 text-center">
        @RenderBody()
    </main>

    <footer class="position-absolute bottom-0 start-0 w-100 bg-transparent p-5 d-flex">
        <div class="mb-5 ms-5">
            <a asp-controller="Account" asp-action="Login" class="bg-dark bg-opacity-75 rounded-3 text-white px-5 py-3 me-3 text-decoration-none">Login</a>
            <a asp-controller="Account" asp-action="Register" class="bg-dark bg-opacity-75 text-white rounded-3 px-5 py-3 text-decoration-none">Sign Up</a>
        </div>
        <img src="/images/logo.png" alt="Logo" class="position-absolute bottom-0 translate-middle-y" style="right: 100px;" width="200">
    </footer>

    <!-- Bootstrap Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
