@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <div class="">
        @if (User.IsInRole("admin") || User.IsInRole("staff"))
        {
            <a asp-controller="Admin" asp-action="AdminSettings" class="btn bg-white">
                Hello @User.Identity?.Name!
            </a>
        }
        else if (User.IsInRole("homeowners"))
        {
            <a asp-controller="Homeowner" asp-action="HomeownerSettings" class="btn bg-white">
                Hello @User.Identity?.Name!
            </a>
        }
        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn me-2 bg-white">Logout</button>
        </form>
    </div>
}
else
{
    <div class="">
        <a asp-controller="Account" asp-action="Register" class="btn bg-white">Sign Up</a>
        <a asp-controller="Account" asp-action="Login" class="btn me-2 bg-white">Login</a>
    </div>
}