@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-3" style="background: radial-gradient(circle, rgba(255, 255, 255, 0.69) 0%, rgba(248, 249, 250, 0) 100%);">
    The Rise at Monterrazas <br />
    Community Portal
</h1>
    